In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [6]:
enrol_guj = pd.read_csv('data/Gujarat/AdhaarMonthlyEnrolmentData_Gujarat.csv')
demo_guj = pd.read_csv('data/Gujarat/AdhaarDemographicMonthlyUpdateData_Gujarat.csv')
bio_guj = pd.read_csv('data/Gujarat/AdhaarBiometricMonthlyUpdateData_Gujarat.csv')

print(enrol_guj.shape, demo_guj.shape, bio_guj.shape)

(56231, 7) (110091, 6) (260600, 6)

In [8]:
enrol_guj.head()

         date    state   district  pincode  age_0_5  age_5_17  age_18_greater
0  01-09-2025  Gujarat  Ahmadabad   380054        1         0               0
1  01-09-2025  Gujarat  Ahmadabad   382350        3         0               0
2  01-09-2025  Gujarat  Ahmedabad   380005        4         0               0
3  01-09-2025  Gujarat  Ahmedabad   380008        2         1               0
4  01-09-2025  Gujarat  Ahmedabad   380022        1         3               0

In [9]:
demo_guj.head()

         date    state     district  pincode  demo_age_5_17  demo_age_17_
0  01-03-2025  Gujarat  Gandhinagar   382835             18            85
1  01-03-2025  Gujarat       Rajkot   360030             13           159
2  01-03-2025  Gujarat      Kachchh   370615             33           193
3  01-03-2025  Gujarat       Rajkot   360330             13           192
4  01-03-2025  Gujarat      Kachchh   370490             44           174

In [10]:
bio_guj.head()

         date    state   district  pincode  bio_age_5_17  bio_age_17_
0  29-12-2025  Gujarat  Ahmadabad   380015             1            1
1  29-12-2025  Gujarat  Ahmadabad   380018             0            1
2  29-12-2025  Gujarat  Ahmadabad   380019             0            1
3  29-12-2025  Gujarat  Ahmadabad   380024             0            1
4  29-12-2025  Gujarat  Ahmadabad   380060             0            1